@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:#4a224e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.29);
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #322533;
  text-decoration: none;
  font-weight: 600;
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 20px;
}

header .navigation li a {
  color: #322533;
  text-decoration: none;
  font-weight: 500;
}

header .navigation li a:hover {
  color: #b6a3b8;
}

header .create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .create li {
  list-style: none;
  margin: 0 10px;
}

header .create li a {
  color: #322533;
  text-decoration: none;
  font-weight: 500;
}

header .create li a:hover {
  color: #b6a3b8;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 90px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4a224e;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 3em;
  color: #b6a3b8;
  font-weight: 500;
}

.contact .content p {
  font-size: 1.3em;
  color: #b6a3b8;
  font-weight: 300;
}

.contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.contact .container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}

.contact .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
}

.contact .container .contactInfo .box:hover .icon {
  background: #cbc0d3;
  color: #fff;
}

.contact .container .contactInfo .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}

.contact .container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #cbc0d3;
}

.contact .container .contactInfo .txt {
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  padding-left: 10px;
  border-left: 50px solid #b6a3b8;
  line-height: 1em;
}

.contact .sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.contact .sci li {
  list-style: none;
}

.contact .sci li a {
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}

.contact .sci li a:hover {
  color: #cbc0d3;
}

.contact .container .contactForm {
  position: relative;
  width: 40%;
  background: #fff;
  min-height: 500px;
  padding: 60px;
}

.contact .container .contactForm h2 {
  font-size: 2em;
  color: #333;
  font-weight: 500;
}

.contact .container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contact .container .contactForm .inputBox input,
.contact .container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact .container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
  transition: 0.5s;
}

.contact .container .contactForm .inputBox input:focus ~ span,
.contact .container .contactForm .inputBox textarea:focus ~ span,
.contact .container .contactForm .inputBox input:valid ~ span,
.contact .container .contactForm .inputBox textarea:valid ~ span {
  color: #322533;
  font-size: 0.9em;
  transform: translateY(-20px);
}

.contact .container .contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #d0a4d6;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #322533;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container .sec h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #b6a3b8;
}

footer .container .sec p {
  color: #fff;
}

.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}

.sci li {
  list-style: none;
}

.sci li a {
  width: 48px;
  height: 48px;
  background: #b6a3b8;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #b38ab7;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quicklinks {
  position: relative;
}

.quicklinks li {
  list-style: none;
}

.quicklinks li a {
  color: #f7f7f7;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks li a:hover {
  color: #b6a3b8;
}

.info {
  position: relative;
}

.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.info li span {
  color: #fff;
}

.info a {
  color: #f7f7f7;
  text-decoration: none;
}

.info a:hover {
  color: #b6a3b8;
}

.copyrightText {
  width: 100%;
  background: #b6a3b8;
  padding: 8px 100px;
  text-align: center;
  color: #fff;
}

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
    flex-direction: column; 
  }
  .contact {
    padding: 50px;
  }
  .contact .container {
    flex-direction: column;
  }
  .contact .container .contactInfo,
  .contact .container .contactForm {
    width: 100%;
  }
  .contact .container .contactForm {
    padding: 50px 30px;
  }
  footer {
    padding: 40px;
  }
  footer container {
    grid-template-columns: repeat(2,1fr);
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

@media (max-width: 768px) {
  footer container {
    grid-template-columns: repeat(1,1fr);
  }
}