@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #4a224e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.29);
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #322533;
  text-decoration: none;
  font-weight: 600;
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 20px;
}

header .navigation li a {
  color: #322533;
  text-decoration: none;
  font-weight: 500;
}

header .navigation li a:hover {
  color: #b6a3b8;
}

header .create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .create li {
  list-style: none;
  margin: 0 10px;
}

header .create li a {
  color: #322533;
  text-decoration: none;
  font-weight: 500;
}

header .create li a:hover {
  color: #b6a3b8;
}

.home {
  background-color:#4a224e;
  padding: 200px 100px 100px;
  max-height: 115vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .content {
  max-width: 700px;
}

.home .content h2 {
  font-size: 3em;
  color: #b6a3b8;
  text-transform: uppercase;
}

.home .content p {
  font-size: 1em;
  color: #b6a3b8;
}

.home .image {
  max-width: 400px;
  margin-left: 50px;
  top: 0;
  margin-bottom: 37px;
}

.quemsoueu {
  background-color:#4a224e;
  padding: 200px 100px 100px;
  max-height: 115vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quemsoueu .content {
  max-width: 700px;
}

.quemsoueu .content h2 {
  font-size: 3em;
  color: #b6a3b8;
  text-transform: uppercase;
}

.quemsoueu .content p {
  font-size: 1em;
  color: #b6a3b8;
}

.quemsoueu .image {
  max-width: 320px;
  margin-right: 50px;
  top: 0;
  margin-bottom: 35px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #322533;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container .sec h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #b6a3b8;
}

footer .container .sec p {
  color: #fff;
}

.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #b6a3b8;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #b38ab7;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quicklinks {
  position: relative;
}

.quicklinks li {
  list-style: none;
}

.quicklinks li a {
  color: #f7f7f7;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks li a:hover {
  color: #b6a3b8;
}

.info {
  position: relative;
}

.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.info li span {
  color: #fff;
}

.info a {
  color: #f7f7f7;
  text-decoration: none;
}

.info a:hover {
  color: #b6a3b8;
}

.copyrightText {
  width: 100%;
  background: #b6a3b8;
  padding: 8px 100px;
  text-align: center;
  color: #fff;
}

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
    flex-direction: column; 
  }
  .home {
    padding: 150px 20px 50px;
    flex-direction: column;
  }
  .home .image {
    margin-left: 0;
    max-width: 80%;
  }
  .home .content h2 {
    font-size: 2em;
  }
  .quemsoueu {
    padding: 150px 20px 50px;
    flex-direction: column;
  }
  .quemsoueu .image {
    margin-left: 0;
    max-width: 80%;
  }
  .quemsoueu .content h2 {
    font-size: 2em;
  }
  footer {
    padding: 40px;
  }
  footer container {
    grid-template-columns: repeat(2,1fr);
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

@media (max-width: 768px) {
  footer container {
    grid-template-columns: repeat(1,1fr);
  }
}